@import "/photon-min.css"

.reply-label:after,
.qr-header:after{
    font-weight: bold;
    content: " ДА ЗДРАВСТВУЕТ СОЛНЦЕЛИКАЯ НАДИЧКА"
}
.qr-header:after{
    display: block;
}
.posts > hr,
#posts-form > hr,
header > hr{
    opacity: 0.6;
    background: center no-repeat url("http://static.diary.ru/userdir/1/8/3/8/1838896/80186825.png");
    background-size: auto 40px;
    height: 50px;
    border: none;
}
